=====================================
= Javascript Rhino Js Dependencies  =
=           Text Report             =
=====================================

Directory:              {{rootJsDir}}
Date:                   {{date}}
Files analysed:         {{nbFiles}}

{{#jsFiles}}
-------------
{{file}}
-------------

Methods list
~~~~~~~~~~~~
{{#functions}}
* {{string}}
{{/functions}}

References in another files
~~~~~~~~~~~~~~~~~~~~~~~
{{#usages}}
* {{file}}
{{/usages}}

Methods called from another files
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
{{#functionCalls}}
* {{string}}
{{/functionCalls}}

{{/jsFiles}}