========================
=       Dr Rhino       =
=      Text Report     =
========================

Root directory:         {{rootJsDir}}
Date:                   {{date}}
Files:                 {{numberOfFiles}}
Minified files:         {{numberOfMinifiedFiles}}
Lines of code (LOC):    {{numberOfLoc}}

{{#paths}}
> Path: {{name}}
>===============
{{#files}}

>> File: {{name}}
* LOC: {{numberOfLoc}}

Methods declaration
~~~~~~~~~~~~~~~~~~~
{{#functions}}
* {{name}}
{{/functions}}

Files references
~~~~~~~~~~~~~~~~
{{#usages}}
* {{file}}
{{/usages}}

Methods used
~~~~~~~~~~~~
{{#functionCalls}}
* {{name}}
{{/functionCalls}}
{{/files}}

{{/paths}}
